.table {
  margin-top: 16px;

  &--center {
    text-align: center;
  }

  &__td {
    cursor: pointer;
  }

  &__iconClose {
    cursor: pointer;
    color: red;
  }

  &__iconRestore {
    cursor: pointer;
    color: #444;
  }
}

.contentSearch {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  margin-top: 1rem;

  &__search {
    width: 50%;
  }
}
